.raleway-normal {
  font-family: "Raleway";
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
.commonpadding {
  padding: 64px 150px;
}
.header {
  height: 698px;
  background: url("../Assets/Hero-bg.png");
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-logo {
  font-size: 34px;
  color: #4e47ff;
}

.button-common-style {
  background-color: #4e47ff;
  color: #ffffff;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  border-style: none;
}

.button-signup {
  height: 48px;
  width: 132px;
}

.banner {
  text-align: center;
}
.banner-text {
  font-size: 65px;
  font-weight: bold;
}

.button-banner {
  height: 48px;
  width: 174px;
  margin-top: 37px;
}

.button-action {
  height: 48px;
  width: 229px;
}

.action {
  display: flex;
  justify-content: space-between;
  background-color: #f5f7fb;
}
.action-heading {
  font-weight: bold;
  font-size: 42px;
  color: #252432;
}

.action-text {
  font-size: 24px;
  font-weight: 200;
  margin: 23px 0;
  color: #252432;
}

.action-img {
  width: 403px;
  height: 328px;
  border-radius: 48px;
}

.production-users-section {
  text-align: center;
  background-color: #f5f7fb;
}
.production-users-section img {
  height: 306px;
  width: 1597px;
}

.Productive-user-cart {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 15px 0;
}
.commonstyleforproductiveusersheading {
  font-size: 80px;
  color: #4e47ff;
  margin-bottom: 10px;
}

.commonstyleforproductiveusers {
  font-size: 20px;
}
.user-feedback {
  text-align: center;
  background-color: #f5f7fb;
}
.user-feedback-cart {
  margin-top: 50px;
}
.feedback-heading {
  font-weight: bold;
  font-size: 42px;
  color: #252432;
}

.feedback-cart {
  width: 366px;
  height: 243px;
  border-radius: 14px;
  text-align: left;
  background-color: white;
  padding: 30px 0px 0px 30px;
}

.feedback-common-margin {
  margin: 19px 0;
}

.feeback-common-heading {
  margin-bottom: 10px;
}
.reviwer {
  display: flex;
  align-items: center;
}

.reviwer img {
  border-radius: 50%;
}

.reviwer span {
  margin-left: 18px;
}

.user-feedback-cart {
  display: flex;
  justify-content: space-between;
}

.additional {
  background-color: #f5f7fb;
}

.addition-section-common {
  margin: 15px 0;
}
.additional-section {
  text-align: center;
  background-color: white;
  border-radius: 14px;
  padding: 30px 0;
}
.button-additional-section {
  height: 48px;
  width: 195px;
  margin-bottom: 20px;
}

.additional-section img {
  border-radius: 48px;
}

.Letsgointouch {
  background-color: #f5f7fb;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Letsgo-text {
  font-size: 97px;
  font-weight: bold;
}

.inputfiled {
  text-align: left;
}

.inputfieldName {
  margin: 10px 0px;
}

.inputfiled input {
  width: 487px;
  height: 60px;
  border-radius: 10px;
  border-style: none;
  padding-left: 15px;
}

.inputfiled textarea {
  width: 497px;
  height: 135px;
  border-radius: 10px;
  border-style: none;
  padding-top: 15px;
  padding-left: 15px;
}

.button-getintouch {
  width: 517px;
  height: 60px;
  border-radius: 10px;
  border-style: none;
  margin-top: 18px;
}

.footersection {
  text-align: center;
}
.footerLogo {
  color: #4e47ff;
  font-size: 100px;
  font-weight: bold;
}
